body {
    margin: 0px;
    font-size: 18px;
}

@media (width > 1200px) {
    /* body {
        background-color: rgb(254, 192, 149);
    } */

    header {
        border: solid 1px black;
    }

    .header {
        display: flex;
        align-items: center;
        height: 100px;
        margin-left: 15%;
    }

    .buscar {
        width: 80%;
    }

    .buscar input {
        width: 80%;
        height: 30px;
    }

    .buscar button {
        width: 10%;
        height: 30px;
        font-size: 18px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

    .navbar li {
        justify-content: space-between;
    }

    .navbar li a{
        text-decoration: none;
        color: gray;
    }

    .navbar li a:hover{
        background-color: gainsboro;
        color: black;
    }

    main {
        border: solid 1px transparent;
        background-color: gainsboro;
    }

    .wsup {
        margin-top: 20px;
    }

    .welcome {
        display: flex;
        width: 90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .welcome button {
        border: solid 1px transparent;
        background-color: red;
        color: white;
    }

    .principal {
        display: flex;
        margin-top: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        gap: 5%;
    }

    .uno {
        border:solid 1px black;
        width: 80%;
        background-color: white;
    }

    .dos {
        border:solid 1px black;
        width: 20%;
    }

    .ptw {
        display: flex;
        margin-left: 4%;
        margin-right: 4%;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px gray;
    }

    .card {
        margin-left: 2%;
        margin-right: 2%;
        border-bottom: solid 1px gray;
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card img {
        margin-right: 20px;
    }

    .card h1 {
        grid-area: h1;
    }

    .card p {
        grid-area: p;
    }

    .ºbutton1 {
        border: none;
        width: 15%;
    }

    
    .button2 {
        border: none;
        width: 15%;
    }

    .soft {
        grid-area: soft;
    }
}

@media (992px < width <= 1200px) {

    body {
        background-color: steelblue;
    }

    header {
        border: solid 1px black;
    }

    .header {
        display: flex;
        align-items: center;
        height: 100px;
        margin-left: 15%;
    }

    .buscar {
        width: 80%;
    }

    .buscar input {
        width: 80%;
        height: 30px;
    }

    .buscar button {
        width: 10%;
        height: 30px;
        font-size: 18px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .navbar li {
        justify-content: space-between;
    }

    .navbar li a{
        text-decoration: none;
        color: gray;
    }

    .navbar li a:hover{
        background-color: gray;
        color: black;
    }

    main {
        border: solid 1px transparent;
        background-color: gainsboro;
    }

    .wsup {
        margin-top: 20px;
    }

    .welcome {
        display: flex;
        width: 90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .welcome button {
        border: solid 1px transparent;
        background-color: red;
        color: white;
    }
}

@media (600px < width <= 992px) {
    body {
        background-color: aqua;
    }

    header {
        border: solid 1px black;
    }

    .header {
        display: flex;
        align-items: center;
        height: 100px;
        margin-left: 4%;
    }

    .buscar {
        width: 90%;
    }

    .buscar input {
        width: 75%;
        height: 25px;
    }

    .buscar button {
        width: 18%;
        height: 30px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        margin-right: 5%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        overflow: scroll;
    }

    .navbar li {
        justify-content: space-between;
        margin-left: 2%;
    }

    .navbar li a{
        text-decoration: none;
        color: gray;
    }

    .navbar li a:hover{
        background-color: gainsboro;
        color: black;
    }

    main {
        border: solid 1px transparent;
        background-color: gainsboro;
    }

    .wsup {
        font-size: 15px;
        margin-top: 20px;
    }

    .welcome {
        border: solid 1px black;
        width: 95%;
        height: 90px;
        display: block;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }

    .welcome p {
        text-align: center;
        margin-right: 2%;
    }

    .welcome input {
        margin-bottom: 2%;
    }
    .welcome button {
        margin-bottom: 2%;
        border: solid 1px transparent;
        background-color: red;
        color: white;
    }

    .welcome a {
        float: right;
        position: relative;
        top: -30px;
        margin-right: 3%;
    }

}

@media (320px < width <= 600px) {
    body {
        background-color: blanchedalmond;
    }

    header {
        border: solid 1px black;
    }

    .header {
        display: flex;
        align-items: center;
        height: 100px;
    }

    .buscar {
        width: 90%;
    }

    .buscar input {
        width: 75%;
        height: 20px;
        border: none;
    }

    .buscar button {
        width: 18%;
        height: 20px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        margin-right: 5%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        overflow: scroll;
    }

    .navbar li {
        justify-content: space-between;
        margin-left: 2%;
    }

    .navbar li a{
        text-decoration: none;
        color: gray;
    }

    .navbar li a:hover{
        background-color: gainsboro;
        color: black;
    }

    main {
        border: solid 1px transparent;
        background-color: gainsboro;
    }

    .welcome {
        display: none;
    }

}