body {
    margin: 0px;
    font-size: 18px;
}

@media (width > 1200px) {
    /* body {
        background-color: rgb(254, 192, 149);
    } */

    header {
        border: solid 1px black;
    }

    .header {
        display: flex;
        align-items: center;
        height: 100px;
        margin-left: 15%;
    }

    .buscar {
        width: 80%;
    }

    .buscar input {
        width: 80%;
        height: 30px;
    }

    .buscar button {
        width: 10%;
        height: 30px;
        font-size: 18px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

    .navbar li {
        justify-content: space-between;
    }

    .navbar li a{
        text-decoration: none;
        color: gray;
    }

    .navbar li a:hover{
        background-color: gainsboro;
        color: black;
    }

    main {
        border: solid 1px transparent;
        background-color: gainsboro;
    }

    .wsup {
        margin-top: 20px;
    }

    .welcome {
        display: flex;
        width: 90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .welcome button {
        border: solid 1px transparent;
        background-color: red;
        color: white;
    }

    .principal {
        display: flex;
        margin-top: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        gap: 2%;
    }

    .uno {
        width: 75%;
        background-color: white;
    }

    .dos {
        width: 25%;
        background-color: white;
    }

    .ptw {
        display: flex;
        margin-left: 4%;
        margin-right: 4%;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        margin-left: 2%;
        margin-right: 2%;
        border-top: solid 1px gray;
        display: grid;
        grid-template-columns: 20% 60% 20% ;
        align-items: center;
        padding: 15px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card .img {
        width: 80%;
    }

    .card h1 {
        height: 1px;
    }

    .subt {
        margin-top: 0px;
    }

    .buttons {
        display: flex;
        gap: 2%;
        height: 30px;
        text-align: center;
        padding: 1px;
    }

    .buttons i {
        background-color: goldenrod;
    }

    .buttons p {
        align-self: center;
        font-size: 15px;
        color: gainsboro;
    }

    .button1 {
        width: 20%;
        border: solid 1px gray;
        text-align: center;
    }

    .button1 img {
        width: 20%;
        margin: 0px;
        margin-top: 2px;
    }
    
    .button2 {
        width: 18%;
        border: solid 1px gray;
        text-align: center;
    }

    .button2 img {
        width: 22%;
        margin: 0px;
        margin-top: 2px;
    }

    .info {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 98%;
        height: 107px;
        font-size: 13px;
        gap: 1%;
    }

    .info p {
        margin-bottom: 0px;
        margin-right: 5px;
    }

    .soft {
        border: solid 1px black;
        background-color: gainsboro;
    }

    .footer {
        text-align: center;
        color: gray;
        font-size: 15px;
    }

    .today {
        margin-top: 20px;
    }

    .espacio {
        background-color: gainsboro;
        height: 30px;
    }

    .slack {
        width: 95%;
        height: 210px;
    }

    .titleslack {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .contslack {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .contslack p {
        width: 90%;
    }

    .contslack button {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
    }
}

@media (992px < width <= 1200px) {

    body {
        background-color: steelblue;
    }

    header {
        border: solid 1px black;
    }

    .header {
        display: flex;
        align-items: center;
        height: 100px;
        margin-left: 15%;
    }

    .buscar {
        width: 80%;
    }

    .buscar input {
        width: 80%;
        height: 30px;
    }

    .buscar button {
        width: 10%;
        height: 30px;
        font-size: 18px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }

    .navbar li {
        justify-content: space-between;
    }

    .navbar li a{
        text-decoration: none;
        color: gray;
    }

    .navbar li a:hover{
        background-color: gray;
        color: black;
    }

    main {
        border: solid 1px transparent;
        background-color: gainsboro;
    }

    .wsup {
        margin-top: 20px;
    }

    .welcome {
        display: flex;
        width: 90%;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .welcome button {
        border: solid 1px transparent;
        background-color: red;
        color: white;
    }
}

@media (600px < width <= 992px) {
    body {
        background-color: aqua;
    }

    header {
        border: solid 1px black;
    }

    .header {
        display: flex;
        align-items: center;
        height: 100px;
        margin-left: 4%;
    }

    .buscar {
        width: 90%;
    }

    .buscar input {
        width: 75%;
        height: 25px;
    }

    .buscar button {
        width: 18%;
        height: 30px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        margin-right: 5%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        overflow: scroll;
    }

    .navbar li {
        justify-content: space-between;
        margin-left: 2%;
    }

    .navbar li a{
        text-decoration: none;
        color: gray;
    }

    .navbar li a:hover{
        background-color: gainsboro;
        color: black;
    }

    main {
        border: solid 1px transparent;
        background-color: gainsboro;
    }

    .wsup {
        font-size: 15px;
        margin-top: 20px;
    }

    .welcome {
        border: solid 1px black;
        width: 95%;
        height: 90px;
        display: block;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
    }

    .welcome p {
        text-align: center;
        margin-right: 2%;
    }

    .welcome input {
        margin-bottom: 2%;
    }
    .welcome button {
        margin-bottom: 2%;
        border: solid 1px transparent;
        background-color: red;
        color: white;
    }

    .welcome a {
        float: right;
        position: relative;
        top: -30px;
        margin-right: 3%;
    }

}

@media (320px < width <= 600px) {
    body {
        background-color: blanchedalmond;
    }

    header {
        border: solid 1px black;
    }

    .header {
        display: flex;
        align-items: center;
        height: 100px;
    }

    .buscar {
        width: 90%;
    }

    .buscar input {
        width: 75%;
        height: 20px;
        border: none;
    }

    .buscar button {
        width: 18%;
        height: 20px;
        border: none;
        background-color: transparent;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        margin-right: 5%;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        overflow: scroll;
    }

    .navbar li {
        justify-content: space-between;
        margin-left: 2%;
    }

    .navbar li a{
        text-decoration: none;
        color: gray;
    }

    .navbar li a:hover{
        background-color: gainsboro;
        color: black;
    }

    main {
        border: solid 1px transparent;
        background-color: gainsboro;
    }

    .welcome {
        display: none;
    }

}